@model BuildInspect.Models.ViewModel.CheckListItemTitleMasterViewModel
@{
    Layout = null;
    @ViewBag.CLid;

}

@{
            var groupID = BuildInspect.Models.Utility.AppSession.GetCurrentUserGroup();
    var companyID = BuildInspect.Models.Utility.AppSession.GetCompanyId();
}

<style>
    .required::after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>


<div class="app-inner-layout app-inner-layout-page">
    <div class="app-inner-layout__wrapper">
        <div class="app-inner-layout__content pt-1">

            <div class="tab-content">
                <div class="container-fluid">
                    <section class="content-header">
                        <h4>
                            New CheckList Type Creation
                        </h4>

                    </section>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-card mb-3 card">
                                <div class="card-body">


                                    <div class="box-header with-border">
                                        <input type="button" value="Back" id="create_CheckListItem-back" class="btn btn-primary pull-right CheckListItem" /><span class="pull-right">&nbsp;</span>
                                        <button type="submit" id="save_create_CheckListItem" class="btn btn-success btn-flat pull-right" name="save"><i class="fa fa-check-square-o"></i> Save</button>
                                    </div>

                                    <div class="box-body">

                                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "addCheckListItem_Form", @class = "form-horizontal" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(model => model.chklstitemid)
                                            @Html.HiddenFor(model => model.ChklstTypeId)
                                            @Html.HiddenFor(model => model.CheckListType)

                                            <div class="row">
                                                <div class="col-xl-12">

                                                  

                                                    <div class="form-group">
                                                        <label for="frequency" class="col-sm-4 control-label ">Frequency</label>
                                                        <div class="col-sm-8">
                                                            @Html.DropDownListFor(model => model.Frequency, new SelectList(
                                                                new List<Object>{
                                                                new { value = "-Select-" , text = "-Select-"  },
                                                                new { value = "Quarterly" , text = "Quarterly" },
                                                                new { value = "Monthly" , text = "Monthly" },
                                                                new { value = "Bi Yearly" , text = "Bi Yearly" },
                                                                new { value = "Half Yearly" , text = "Half Yearly" },
                                                                new { value = "Yearly" , text = "Yearly" },
                                                                }, "value", "text", 2), htmlAttributes: new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.Frequency, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>



                                                    <div class="form-group">
                                                        <label for="servicedescription" class="col-sm-4 control-label">Service Description</label>
                                                        <div class="col-sm-8">
                                                            @Html.EditorFor(model => model.TitleDescription, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.TitleDescription, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        }

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $("form").removeData("validator");
    $("form").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse("form");

    //$('#GroupID').on('change', function () {
    //    //alert(this.value);
    //    if (this.value == 5) {
    //        $("#company").css("display", "none");
    //    }
    //    else
    //    {
    //        $("#company").css("display", "block");
    //    }

    //});


</script>